
ul , a{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    background-color:#F0ECE5;
    padding: 30 0;
}
nav ul {
   display: flex;
justify-content: flex-end;
}
nav ul li{
   margin:0 20px;
}
nav ul li a {
   color:#1B1A55;
   font-size: 20px;
   padding:5px 10px;
   border-radius: 10px;
   transition: background-color 0.5s;
}
nav ul li a:hover, nav ul li a:focus {
   background-color: pink;
}


nav a#logo {
  color: pink;
  font-weight: 900;
  margin-left: : 10px;
  font-size: 2rem;
 text-decoration: none;


h5{
     display: flex;
     justify-content: center;
}


   @keyframes fadeinout{
0%{
  opacity: 0;
}
50%{
  opacity: 1;
}
100%{
  opacity: 0;
}


      .item {
       display:flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        }


     footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 5px;
      /* position: fixed; */
        bottom: 0;
        width: 100%;
     }
